* {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    text-align: center;
  }

  #playerCards {
    display: flex;
    justify-content: center;
  }

  .red {
    color: red;
  }

  .card {
    width: 75px;
    height: 120px;
    border: 1px solid rgb(0, 0, 0);
    /* display: inline-block; */
    display: flex;
    margin: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* line-height: 80px; */
    cursor: pointer;
    position: relative;
    border-radius: 9px;
    background-color: beige;
  }

  .card.selected {
    border: 2px solid rgb(38, 172, 11);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.24);
    transform: translateY(-10px);
  }

  .card.facedown {
    background-color: #888;
    color: #fff;
  }

  .card .value {
    position: absolute;
    top: 5px;
    left: 8px;
    font-size: 2rem;
    user-select: none;
  }

  .card .category {
    position: absolute;
    bottom: 5px;
    right: 8px;
    font-size: 2rem;
    user-select: none;
  }

  #buttons {
    margin-top: 20px;
  }

  #score {
    font-weight: bold;
    margin-top: 10px;
  }

  #deck,
  #discardPile {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  #game-messages {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  /* enemys */
  #enemy {
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;

    #enemy-board {
      position: relative;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 80vh;
      aspect-ratio: 16/9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .enemy-datas {
        position: absolute;
        top: 5px;
        left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* 
        align-items: center; */
        .enemy-data {
          padding: 2px 5px;
          margin: 2px;
          background-color: #ffffffe3;
          border-radius: 7px;
          &#enemy-name {
          }
    
          &#enemy-hp {
          }
    
          &#enemy-round {
          }
        }
      }

      

      

      .enemy-tip {
        padding: 2px;
        margin: 2px;
        width: 80%;
        background-color: #fff9edd8;
        border: 1px solid rgba(15, 14, 14, 0.822);
        border-radius: 7px;
        font-size: 1.3rem;
        z-index: 2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        &.hide {
          display: none;
        }
      }
      #cursor {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        height: 30px;
        gap: 5px;
        margin-bottom: 5px;

        &.hide {
          display: none;
        }

        .ico {
          height: 32px;
          background-color: #fff;
          border-radius: 9px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1px 8px;
          &.hide {
            display: none;
        }
        }
      }
    }
  }